body{
    background-color: rgb(237, 244, 241);
}
.registration{
border: 1px solid;
margin: 200px auto 0px;
width: 700px;
text-align: center;
border-radius: 5px;
box-shadow: 5px 5px gray;
}
.registration p{
    width: 450px;
   margin-inline: auto;
}
input{
    width: 400px;
}
div{
    margin: 10px;
}
h4{
text-decoration: underline;
}
#check{
width: 90px;
}
.personal__infromation .date input{
    width: 150px;
}
button{
    margin-top: 10px;
    border-radius: .3rem;
    padding: 5px 10px;
    background-color: azure;
    &:hover{
        background-color: gray;
        color: #ffff;
    }
}

